<!DOCTYPE html>
<html>
<head>
	<title></title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>

	<header>
		<div class="container">
		<div id="brandname">
			Thinkful - Final Capstone (App with Flask)
		</div>
		<h2>Song Recommendations by 'Vibe' Similarities</h2>
		
	</div>
	</header>
	<p style="color:red;font-size:20;text-align: center;"><b>That song and/or artist is not recognized, or the lyrics could not be found. Please try again.</b></p>
    

	</div>

</body>
</html>